.rec-Card {
    display: flex;
}

.rec {
    display: flex;
    align-items: center;
}

h4.userName {
    color: #ABB761;
    font-size: 1.1em;
}

span.userMessage {
    color: #ABB761;
    margin-left: .5em;
    font-size: 1.1em;
}

h4.card-name {
    font-size: 1.1em;
}

span.message {
    margin-left: .5em;
    font-size: 1.1em;
}

.recCard-content {
    display: flex;
    flex-wrap: wrap;
}

/* button for posting a recommendation */
.rec-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    padding: 0.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    /* position: relative; */
    color: #ffffff;
    background-color: #abb761;
    height: 3.5em;
    font-weight: bold;

  }
  
  .rec-button:hover {
    background-color: #feb300;
  }


  /* button for editing and deleting comments. */
  .EditDeleteButton-Container {
      display: flex;
  }

  .rec-EdDeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5em;
    width: 4em;
    
    box-sizing: border-box;
    text-decoration: none;
    font-size: 10px;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    /* position: relative; */
    color: #ffffff;
    background-color: #abb761;
    height: 3.5em;
    font-weight: bold;

  }
  
  .rec-EdDeButton:hover {
    background-color: #feb300;
  }