.recPage-Head {
  display: flex;
  flex-direction:column;
}

.recPage-title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
}

.recDescription {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2em;
} 

.recContainer-Cards {
    display: flex;
    padding: 0;
    margin: 10%;
    margin-top: 0;
    justify-content: center;
    flex-direction: column;
    background-color: #FFAAAB;
    border-radius: .5em;
    color: #310D0D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recScreen {
    background-color: white;
    color: #310D0D;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-right: 2em;
    padding: 3em;
    /* padding-left: 10em;
    padding-right: 10em; */
    border-radius: .5em;
    height: 25em;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    /* display: flex; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }