.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar__item {
    flex-basis: 10%;
    list-style-type: none;
    height: 150px;
}

.navbar__link {
    text-decoration: none;
    color: #310D0D;
    margin-top: 10em;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
}

.navbar__link:hover{
    text-decoration: none;
    color: #FF5E6C;
    padding-top: 10em;
    font-weight: 600;
    font-size: 1.1em;
}

.logo-text {
    color: #310D0D;
    text-decoration: none;
    font-weight: 900;
    font-size: 5em;
    margin: 2em;
}

.navbar__linkLogout {
    text-decoration: none;
    color: #310D0D;
    font-size: small;
}

.navbar__linkLogout:hover {
    text-decoration: underline;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
