.navbar-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.navbar__item {
    margin-left: 50px;
    margin-right: 100px;
    list-style-type: none;
    height: 75px;
}

.logo-nav {
    height: auto;
    width: 15em;
    margin-left: 0;
}

.navbar__link {
    text-decoration: none;
    color: #310D0D;
    margin-top: 10em;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
}

.navbar__link:hover{
    text-decoration: none;
    color: #FF5E6C;
    padding-top: 10em;
    font-weight: 600;
    font-size: 1.3em;
}

.logo-text {
    color: #310D0D;
    text-decoration: none;
    font-weight: 900;
    font-size: 5em;
    margin: 2em;
}

/* .logout-container {
    display: flex;
    justify-content: flex-end;
} */

.navbar__linkLogout {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #310D0D;
    font-size: small;
    font-weight: bold;
    padding: 0.5em 1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-weight: 400;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  /* position: ; */
  color: #ffffff;
  background-color: #FF5E6C;
}

.navbar__linkLogout:hover {
    background-color: #f87681;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
